<header
  class="mx-auto max-w-4xl mb-16 lg:mb-24"
  [class.text-center]="alignment() === 'center'"
  [class.text-left]="alignment() === 'left'"
>
  @if (subtitle()) {
    <h2 class="text-base font-semibold leading-7 text-indigo-400 uppercase tracking-widest">
      {{ subtitle() }}
    </h2>
  }
  <h2 class="mt-2 text-3xl font-bold tracking-tight text-white sm:text-4xl text-balance">
    {{ title() }}
  </h2>
  @if (description()) {
    <p class="mx-auto mt-6 max-w-2xl text-lg leading-8 text-gray-400 text-pretty">
      {{ description() }}
    </p>
  }
  <ng-content />
</header>
