<header
  class="mx-auto max-w-5xl mb-12 sm:mb-20 lg:mb-28"
  [class.text-center]="alignment() === 'center'"
  [class.text-left]="alignment() === 'left'"
>
  @if (subtitle()) {
    <div class="mb-6 flex" [class.justify-center]="alignment() === 'center'">
      <div class="status-badge status-badge-dark ring-4 ring-secondary/5">
        {{ subtitle() }}
      </div>
    </div>
  }

  <h2 class="mt-4 heading-2 text-secondary text-balance uppercase tracking-[-0.02em]">
    {{ title() }}
  </h2>

  @if (description()) {
    <p
      class="mx-auto mt-8 max-w-3xl text-lg leading-relaxed text-secondary/90 text-pretty font-medium"
    >
      {{ description() }}
    </p>
  }
  <ng-content />
</header>
